<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>828819234045-ou4sklle1kaktm19e3put56tm9oii5ut.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.828819234045-ou4sklle1kaktm19e3put56tm9oii5ut</string>
	<key>API_KEY</key>
	<string>AIzaSyC9Dh-yohAZdQiPB9t2H9BpbGbLxI4uoGs</string>
	<key>GCM_SENDER_ID</key>
	<string>828819234045</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ascentic.centicbid</string>
	<key>PROJECT_ID</key>
	<string>centic-bids-dbcdb</string>
	<key>STORAGE_BUCKET</key>
	<string>centic-bids-dbcdb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:828819234045:ios:1f93fb0586ab044992b294</string>
</dict>
</plist>